{% extends "blog/base.html" %}
{% block content %}
<h1>eTraining Home</h1>

<p>Welcome to <em>eTraining</em>, </p>
<p>eTraining is a great idea in solving the eTraining problem.</p>
<p>eTraining creates a chance for the learning modules and materials on the eTraining web application.</p>



<h2>Content</h2>
<p>Currently, eTraining has the following contents. </p>


<ul>
  <li><strong>Modules:</strong> {{ num_modules }}</li>
  <li><strong>Instructors:</strong> {{ num_instructors }}</li>
</ul>

{% endblock content %}